In [1]:
#Task 1 - Data Loading
#Importing header files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Path of the file
df = pd.read_csv('file.csv')
df.head()
#Code starts here

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

In [115]:
df['state'] = df['state'].apply(lambda x: x.lower())
df['total'] = df['Jan']+df['Feb']+df['Mar']
df

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,28752,10000,62000,35000,107000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,38365,95000,45000,35000,175000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,76517,91000,120000,35000,246000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,46021,45000,120000,10000,175000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,49681,162000,120000,35000,317000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,62785,150000,120000,35000,305000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,mississipi,18008,62000,120000,70000,252000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,rhodeisland,53461,145000,95000,35000,275000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,64415,70000,95000,35000,200000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,46308,70000,120000,35000,225000
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,tenessee,47743,45000,120000,55000,220000
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,31415,150000,10000,162000,322000
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,72686,162000,120000,35000,317000
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,31919,55000,120000,35000,210000
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,27933,150000,120000,70000,340000

In [116]:
sum_row = df.loc[:,'Jan':].sum(axis=0)
df_final = df.append(sum_row, ignore_index=True)
df_final

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,28752.0,10000.0,62000.0,35000.0,107000.0
1,320563.0,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,38365.0,95000.0,45000.0,35000.0,175000.0
2,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,76517.0,91000.0,120000.0,35000.0,246000.0
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,46021.0,45000.0,120000.0,10000.0,175000.0
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,49681.0,162000.0,120000.0,35000.0,317000.0
5,132971.0,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,62785.0,150000.0,120000.0,35000.0,305000.0
6,145068.0,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,mississipi,18008.0,62000.0,120000.0,70000.0,252000.0
7,205217.0,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,rhodeisland,53461.0,145000.0,95000.0,35000.0,275000.0
8,209744.0,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,64415.0,70000.0,95000.0,35000.0,200000.0
9,212303.0,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,46308.0,70000.0,120000.0,35000.0,225000.0
10,214098.0,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,tenessee,47743.0,45000.0,120000.0,55000.0,220000.0
11,231907.0,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,31415.0,150000.0,10000.0,162000.0,322000.0
12,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,72686.0,162000.0,120000.0,35000.0,317000.0
13,268755.0,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,31919.0,55000.0,120000.0,35000.0,210000.0
14,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,27933.0,150000.0,120000.0,70000.0,340000.0
15,NaN,NaN,NaN,NaN,NaN,NaN,1462000.0,1507000.0,717000.0,3686000.0